*{
    font-family: var(--rajdhani);
    margin: 0;
    padding: 0;    
}
body{
    font-family: 'DM Sans', sans-serif;
}

/* //////////////////////////////1st section Navigation starts/////////////////////////////////////////// */

.nav-head{
    padding: 0px 5%;
    min-height: 75px;
}
.main-navtab{
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color:white;
    /* opacity: 0.8; */
    border: whitesmoke;
}
.nav-menu {
    float: left;
    margin-left: 8%;
}
.ham-toggle span{
   background-color: black;
   margin-top: 10px;
}
.nav-menu li a{
    line-height: 53px;
    color: black;
    font-size: 17px;
    font-weight: 600;
}
.nav-menu li a:hover{
    color: #5956E9;
    text-decoration: underline;
    transition: 0.3s ease;
}

.navbar{
    margin-bottom: 0px;
}
.navbar-right li a img{
    background-color: #5956E9;
    padding: 11px;
    border-radius: 7px;
    margin-top: 8px;
    margin-left: -132%;


}


/* ////////////////////////////////////1st section Navigation ends/////////////////////////////////////// */

/* //////////////////////////////////////2nd section starts//////////////////////////////////////////// */

.hero-banner-1{
    width: 100%;
    height: 860px;
    
}
.hero-banner-1 img{
    transition: transform 1.4s;
   transition-timing-function: ease;
}
.hero-banner-1:hover img{
    transform: scale(1.1);
   
}
.hero-banner-v1 .bg-one {
    left: 0;
    background: url("../img/bg-shape-1.png") no-repeat left;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.hero-banner-v1 .bg-two {
    right: 0;
    background: url("../img/bg-shape-2.png") no-repeat right;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-banner-1:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient( 90deg,rgb(89,86,233) 0%,rgb(0,208,156) 100%);
    opacity: .102;
    z-index: -1;
}
.position-relative{
    position: relative!important;
}
.hero-img{
    transform: translate3d(0px, 0px, 0px) rotate(0.0001deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    bottom: 80px;
    top: 18%;
    right: 150px;
}
.hero-img-ins1{
    transform: translate3d(-1.1px, -13.3px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    display: block;
}

.hero-img .hero-img-ins1 .img-ins1-1{
    height: 580px;
    max-width: 109%;
    border-radius: 245px;
}
.hero-img .hero-img-ins1 .img-ins1-2{
    max-width: 100%;
    margin-top: 200%;
    margin-left: -155%;
    /* vertical-align: middle;
    border-style: none; */
}
/* .hero-img .hero-img-ins1 .img-ins1-3{
    width: 100%;
} */
.hero-img-3{
    transform: translate3d(0px, 0px, 0px) rotate(0.0001deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    bottom: 80px;
    top: 16%;
    left: 48px;
    
}

.hero-img-4{
    transform: translate3d(0px, 0px, 0px) rotate(0.0001deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    bottom: 80px;
    top: 21.7%;
    right: 35%;
}
.hero-img-5{
    transform: translate3d(0px, 0px, 0px) rotate(0.0001deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    bottom: 80px;
    top: 85%;
    right: 49%;
}
.pdt-100{
    padding-top: 18%;
   
}
.hero-content h1{
    width: 600px;
    text-transform:capitalize;
    margin-bottom: 35px;
    margin-top: 40px;
    font-size: 75px;
    line-height: 80px;
    font-weight: 600;
}
.hero-content p {
    padding-right: 47%;
    font-weight: 500;
    margin-bottom: 45px;
    font-size: 19px;
    line-height: 1.5;
    color: #808080d4;
    
}
.btn-talkUs{
    background-color: #5956E9;
    color: #fff;
    font-size: 16px;
    padding: 16px 37px;
    font-weight: 600;
}
.btn-talkUs:hover{
    background-color: black;
    color: #fff;
    transition: 0.5s;
}

/* ////////////////////////////////////////2nd section ends////////////////////////////////////// */


/* //////////////////////////////////////////3rd section starts//////////////////////////////////// */


.position-relative{
    position: relative!important;
}
.pt-130{
    padding-top: 130px;
}
.align-items-center{
    align-items: center;
}
.img-holder-box{
    position: relative;
}
.img-holder-box .img-holder img{
    max-width: 100%;
    border-radius: 250px;
}
.shape-one{
    position: absolute;
    bottom: 0;
    left: 0;
    
}

.shape-one .animate-flaot-y img{
    animation:  spin 30s linear infinite;
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.mb-50{
    margin-bottom: 50px;
}
.section-title .st-one{
    font-size: 24px;
    padding: 20px 39px;
    margin-bottom: 25px;
    z-index: 1;
}
.section-title .sub-title{
    position: relative;
    font-weight: 700;
    color: #5956E9;
    top: 53px;
}
.section-title .st-one:after{
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    background-image: url("../img/border-1.png");
    background-size: 100%;
    z-index: -1;
    background-position: bottom;
    top: auto;
    bottom: 0;
    height: 100%;
}
.section-title h2 {
    margin-bottom: 22px;
    margin-top: 96px;
    font-size: 55px;
    line-height: 60px;
    font-weight: 700;
}
.text-wrapper h4{
    font-size: 22px;
    color: #5956E9;
    margin-bottom: 20px;
    line-height: 34px;
    font-weight: 700;
}
.text-wrapper p{
    margin-bottom: 20px;
    font-size: 18px;
    color: #828486;
    font-weight: 400;
    line-height: 32px;
}
.mb-35{
    margin-bottom: 35px;
}
.text-wrapper .list-style-one li{
    margin-bottom: 15px;
}
.list-style-one{
    list-style: none;
}

.list-style-one li img{
    width: 28px;
    height: 28px;
    margin-right: 15px; 
}
.list-style-one li{
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
}
.bodered-btn{
    font-size: 16px;
    /* border-color: #5956E9; */
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #5956E9;
    padding: 19px 41px;
    border-radius: 5px;
    display: inline-flex;
}
.bodered-btn:hover{
    background-color: #5956E9;
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}


/* ..................................3rd section ends............................................ */


/* .........................................4th section starts................................... */

.pd-90{
    padding: 90px 0px;
}
.g-1:hover {
    background-color: #fff;
    color: black;
    border-color: transparent;
    box-shadow: 0 10px 30px 0 rgb(89 86 233 / 20%);
}
.justiy-content-center{
    justify-content: center!important;
}
.mb-55{
    margin-bottom: 55px;
}
.section-title p{
    margin-bottom: 20px;
    font-size: 24px;
    color: #828486;
    font-weight: 500;
    line-height: 32px;
}
.service-item{
    padding: 50px 55px 40px;
    border-radius: 7px;
    background-color: #fff;
    border: 1px solid rgba(88,86,233,.2);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.service-item .icon i img{
     width: 80px;
     height: 80px;
}
.service-item .text h3 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
}
.list-style-two{
    list-style: none;
    line-height: 2.6;
} 
.list-style-two li img{
    width: 22px;
    margin-right: 15px;

}
.list-style-two li{
    font-size: 17px;
    color: #828486;
    font-weight: 500;
}
.list-style-two:hover li{
    color: black;
}

/* ..................................4th section ends.............................................. */

/* ..................................5th section starts......................................... */


.light-gray-bg{
    background-color: rgb(241 241 242);
    padding: 130px 0px 80px 0px;
}
.section-title .st-one-1 {
    font-size: 24px;
    padding: 26px 39px;
    margin-bottom: 25px;
    z-index: 1;
}
.section-title .st-one-1:after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    background-image: url(../img/border-1.png);
    background-size: 100%;
    /* z-index: -1; */
    background-position: bottom;
    top: auto;
    bottom: 0;
    height: 100%;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-20 {
    margin-bottom: 20px;
    list-style: none;
}
.portfolio-filter-button .filter-button li{
   display: inline-block;
   padding: 5px 15px;
   font-size: 17px;
   font-weight: 600;
}
.portfolio-filter-button .filter-button .active{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 10px 30px 0 rgb(89 86 233 / 20%);
    cursor: pointer;
}
.portfolio-filter-button .filter-button li:hover{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 10px 30px 0 rgb(89 86 233 / 20%);
    cursor: pointer;
    transition: 0.4s;
}
.mb-55 {
    margin-bottom: 55px;
}

.portfolio-style-one .img-holder .portfolio-hover .hover-content i {
    color: #fff;
    font-size: 34px;
}
.portfolio-style-two .img-holder img, .portfolio-style-one .img-holder img {
    width: 100%;
}
.plus-sign{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.hover-content{
    position: absolute;
    bottom: 100%;
    left: 15px;
    right: 0;
    /* z-index: 9999; */
    /* opacity: 0.9; */
    background-color: rgba(0,2,72,.5);
    overflow: hidden;
    width: 92%;
    height:0;
    transition: .3s ease;
}
.img-holder:hover .hover-content{
    bottom: 0;
    top: 0;
    height: 72.7%;
  
}
.portfolio-item .text .title{
    font-size:24px ;
    font-weight: 600;
}
.portfolio-item .text .title:hover{
    color: #5956E9;
    cursor: pointer;
    transition: 0.3s;
}
.portfolio-item .text a{
    font-size: 18px;
    font-weight: 600;
    color: #828486;
}
.portfolio-item .text a:hover{
    color: #5956E9;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}


/* .....................................5tgh section ends................................................... */


/* ........................................6th section starts................................................. */


.pt-130{
    padding-top: 130px;
}
.dark-blue-bg{
    background-color: #5956E9;
    /* height: 600px; */
}
.section-title-white .sub-title{
    color: #fff;
}
.mb-55{
    margin-bottom: 55px;
}
.section-title-white .st-one:after {
    background: url("../img/border-2.png") no-repeat bottom;
    background-size: 100% 100%;
}
.db-inside {
    padding: 0px 28px;
}
.section-title .head-fill-text{
    font-size: 60px;
    line-height: 70px;
    color: #fff;
    font-weight: 700;
}
.fill-text {
    line-height: 1;
    letter-spacing: -.03em;
    font-weight: 400;
    font-size: 65px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}
.btn-white {
    font-size: 16px;
    /* border-color: #5956E9; */
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 19px 41px;
    border-radius: 5px;
    display: inline-flex;
}
.btn-white:hover{
    background-color: black;
    border-color: transparent;
}
.cta-wrapper {
    position: relative;
    z-index: 1;
    padding: 80px 140px;
}
.cta-area .cta-img {
    position: absolute;
    right: 90px;
    bottom: -110px;
    border-radius: 151.49px;
    overflow: hidden;
}
.cta-area .cta-wrapper:after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: url("../img/map.png") no-repeat right;
    background-size: contain;
    z-index: -1;
}



/* .............................................6th section ends...................................... */

/* ..............................................7th section starts................................. */


.pt-240{
    padding: 240px 0px 90px 0px;
}
.justiy-content-center{
    justify-content: center!important;
}
.section-title .st-one-3 {
    font-size: 24px;
    padding: 25px;
}
.section-title .st-one-3:after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    background: url("../img/border-1.png") no-repeat;
    background-size: 100% 100%;
    z-index: -1;
    background-position: bottom;
    top: auto;
    bottom: 0;
    height: 100%;
}
.mb-40{
    margin-bottom: 40px;
}
.counter-item{
    padding: 65px 50px;
    background-color: #fff;
    box-shadow: 0 10px 60px 0 rgb(76 76 76 / 10%);
}
.counter-item .icon-1 img{
    width: 70px;
    height: 70px;
}
.text-1 .number {
    font-size: 55px;
    font-weight: 700;
}
.text-1  p{
    font-size: 18px;
    color: #828486;
}
.counter-item:hover{
    background-image: radial-gradient(#eae46d, rgb(253, 253, 253), white);
    transition: 0.8s;
}


/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,7th section ends,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */

/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,8th section starts,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */

.pattern-bg {
    position: relative;
    z-index: 1;
}
.pattern-bg:after{
    position: absolute;
    right: 150px;
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../img/pattern-shape-1.png");
    background-size: 100% 100%;
    z-index: -1;
}
.section-title .testi-text {
    font-size: 55px;
    line-height: 60px;
    color: #fff;
    font-weight: 700;
}
.section-title .testi-para{
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    line-height: 32px;
}
.testimonial-area .shape-img-1 {
    position: absolute;
    top: 100px;
    right: 15%;
    z-index: 1;
}
.testimonial-area .shape-img-1 img{
    border-radius: 110px;
}

img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.testimonial-area .shape-img-1:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 240px;
    height: 300px;
    border: 1px solid #fff;
    border-radius: 110px;
    z-index: -1;
}
.testimonial-area .img-holder-1 img {
    border-radius: 217px;
}
.testimonial-content h3{
    color: #fff;
    font-size: 40px;
    line-height: 55px;
}
.author-title h4 {
    margin-top: 50px;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
}
.author-title .position{
    color: #fff;
    font-size: 20px;
}

/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,8th section ends,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */

/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,9th section starts,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */

.team-area .team-item .img-holder img{
    width: 100%;
    border-radius: 135px;
}
/* .team-hover .social-link li img{
    width: 40px;
} */
.text-2 .title{
    font-size: 24px;
    font-weight: 600;
    margin-top: 34px;
}
.text-2 .position-1{
    font-size: 18px;
    color: #828486;
}
.team-area .team-item .img-holder img:hover{
    opacity: 0.6;  
    transition: 0.3s;
}
.text-2 .title:hover{
    color: #5956E9;
    transition: 0.3s;
    cursor: pointer;
}


/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,9th section ends,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */

/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,10th section starts,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */

.pt-70{
    padding: 70px 0px 80px 0px;
}
.contact-area .text-wrapper h2 {
    font-size: 79px;
    line-height: 80px;
    margin-bottom: 25px;
    font-weight: 700;
}
.fill-text-1 {
    line-height: 1;
    letter-spacing: -.03em;
    font-weight: 400;
    font-size: 79px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.cont{
    margin-top: 50px;
}
.img-mail img{
    width: 25px;
    height: 23px;
    margin-right: 9px;
    margin-bottom: 5px;
}
.icon-2 .img-mail{
    font-size: 19px;
    color: #5956E9;
    font-weight: 600;
}
.info-1 h4 a{
    text-decoration: none;
    color: black;
}
.form-group .form-control{
    margin-bottom: 30px;
    height: 60px;
    border-radius: 5px;
    padding: 0 30px;
    font-weight: 600;
    font-size: 18px;
    color: black;
    border: 1px solid rgba(79, 79, 209, 0.523);
}
.form-group .form-control-1{
    margin-bottom: 30px;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    padding: 20px 30px 0px;
    font-weight: 600;
    font-size: 18px;
    color: black;
    border: 1px solid rgba(79, 79, 209, 0.523);
}
.arrow-btn{
    padding: 17px 37px;
    border-radius: 5px;
    border: transparent;
    color: #ffff;
    background-color: #5956E9;
    font-size: 16px;
}
.arrow-btn:hover{
    background-color: black;
    transition: 0.6s;
}
.contact-area .img-holder {
    position: relative;
    z-index: 1;
    /* margin-right: -105px; */
    text-align: right;
}
.img-holder .shape {
    position: absolute;
    right: 110px;
    top: 95px;
    width: 200px;
    height: 200px;
}
.img-holder .shape img{
    border-radius: 192px;

}

/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,10th section ends,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */


/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,11th section starts,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */

.section-title .st-one-2 {
    font-size: 24px;
    padding: 28px 39px;
    margin-bottom: 25px;
    z-index: 1;
}
.section-title .st-one-2 {
    position: relative;
    font-weight: 700;
    color: #5956E9;
    top: 53px;
}
.section-title .st-one-2:after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    background-image: url(../img/border-1.png);
    background-size: 100%;
    /* z-index: -1; */
    background-position: bottom;
    top: auto;
    bottom: 0;
    height: 100%;
}
.blog-area-v1 .blog-post-item .entry-content {
padding: 40px;
border-radius: 7px;
border: 1px solid rgba(88,86,233,.149);
-webkit-transition: all .3s;
-o-transition: all .3s;
transition: all .3s;
}
.cat-btn {
    background-color: #5956E9;
    color: #fff;
    margin-bottom: 25px;
    border-radius: 5px;
    font-size: 17px;
    padding: 10px 19px;
    line-height: 25px;
}
.cat-btn:hover{
    text-decoration: none;
    color: #828486;
    transition: 0.3s;
}
.entry-content h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
}
.entry-content h3:hover{
    color: #5956E9;
    transition: 0.3s;

}
.entry-content p{
    font-size: 17px;
    color: #828486;
    line-height: 30px;
}
.btn-link {
    font-size: 18px;
    font-weight: 700;
    color: #5956E9;
}
.btn-link:hover{
    text-decoration: none;
    color: #0e0c64;
    transition: 0.3s;

}
.blog-post-item {
    padding: 50px 10px 40px 45px;
    border-radius: 7px;
    border: 1px solid rgba(88,86,233,.2);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.blog-post-item:hover {
    background-color: #fff;
    color: black;
    border-color: transparent;
    box-shadow: 0 10px 30px 0 rgb(89 86 233 / 20%);
}
.btn-vms{
    background-color: #5956E9;
    padding: 10px 25px;
}
.btn-vms:hover{
    background-color: black;
    transition: 0.7s;
}

/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,11th section ends,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */

/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,12th section starts,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */

.footer-top{
    border-bottom: 1px solid rgba(89,86,233,.2);
}
.pt-75{
    padding-top: 75px;
}
.pb-40{
    padding-bottom: 40px;
}
.footer-text-color h3{
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
    text-align: left;
    padding-left: 170px;
    border-left: 2px solid rgba(89,86,233,.2);
}
.footer-text-color h3 span{
    color: #5956E9;
}
.footer-nav-widget h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
}
.widget-nav{
    list-style: none;
}
.widget-nav li{
    margin-bottom: 15px;
}
.widget-nav li a{
    font-size: 19px;
    color: #828486;
}
.widget-nav li a:hover{
    color: #5956E9;
}
.socail-widget h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
}
.social-nav{
    list-style: none;
}
.social-nav li{
    margin-bottom: 15px;

}
.social-nav li a{
    font-size: 18px;
    color: #828486;
    text-decoration: none;
}
.social-nav li a:hover{
    color: #5956E9;
}
.social-nav li a i{
    color: #5956E9;
    margin-right: 15px;
}
.social-nav li a .fa-facebook{
    margin-right: 23px;
}
.newsletter-content h3{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.newsletter-content p{
    font-size: 18px;
    color: #828486;
    margin-bottom: 28px;

}
.newsletter-content p span{
    color: #5956E9;
    text-decoration: underline;
    cursor: pointer;
}
.newsletter-content form .form-group input{
    background-color: rgb(245 245 245);
    padding: 0px 30px;
    width: 100%;
    height: 65px;
    color: black;
    border-radius: 7px;
    border-color: transparent;
    border: none;
}
.newsletter-content form .form-group button{
    position: relative;
    bottom: 54px;
    left: 70%;

}
.footer-widget{
    border-bottom: 1px solid #828486;
}
.main-btn{
    background-color: #5956E9;
    padding: 10px 23px;
    font-size: 16px;
}
.main-btn:hover{
    background-color: black;
    transition: 0.6s;
}
.copyright-text{
    padding: 30px 0px;
    font-size: 18px;
    color: #828486;
}
.float-right{
    float: right;
    padding: 15px 0px;
}
.navi li a{
    font-size: 18px;
    color: #828486;
}
.navi li a:hover{
    color: #5956E9;
    background-color: transparent;
    transition: 0.4s;
}